<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>成功案例</title>
	<title>heder_nav-menu</title>
	<link rel="stylesheet" type="text/css" href="default/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="default/css/common.css" />
	<link rel="stylesheet" type="text/css" href="default/css/heder_nav-menu.css" />
	<link rel="stylesheet" type="text/css" href="default/css/successful_case.css" />
</head>

<body>
	{{include 'default/public/header'}}
	<div id="header_nav-wrapper">
		<div class="header_nav">
			<h2>成功案例 &#160;
				<span>让品牌与您同在</span>
			</h2>


		</div>



	</div>

	<div id="header_title-wrapper">

		<div class="header_title clear">
			<p>
				{{each cateResult}}
				<a {{if cid==$value._id}}class="active" {{/if}} href="/news?cid={{@$value._id}}">服务行业</a>
				{{/each}}
			</p>
		</div>


	</div>


	<div id="main_wrapper">


		<div class="main">
			<ul class="clear">

				{{each articleResult}}
				<li>
					<a href="/content/{{@$value._id}}">
						<img src="{{$value.img_url}}" />
					</a>
					<p>{{$value.title}}</p>
				</li>
				{{/each}}

			</ul>


		</div>




	</div>


	{{include 'default/public/footer'}}

</body>

</html>